FLASK_APP=wsgi.py
FLASK_ENV=production
SECRET_KEY=change-this
SECURITY_PASSWORD_SALT=change-this
DATABASE_URL=postgresql+psycopg://dizal:dizal@127.0.0.1:5432/dizal
UPLOAD_FOLDER=/home/root/projects/dizal/instance/uploads
PROJECT_TIMEZONE=Asia/Aden
DIZAL_ADMIN_USERNAME=admin
DIZAL_ADMIN_PASSWORD=change-me-now
DIZAL_ADMIN_EMAIL=admin@dizal.local
